{%- doc -%}
  Renders the search action button.

  @param {string} [style] - The style of the search action.
  @param {string} [class] - Additional classes for the search action.
  @param {string} [display_style] - The display style ('icon' or 'text').

  @example
  {% render 'search', style: 'default', class: 'custom-class', display_style: 'icon' %}
{%- enddoc -%}

{% unless style == 'none' %}
  <search-button
    class="search-action{% if display_style == 'text' %} search-action--text{% endif %}{% if class != blank %} {{ class | strip }}{% endif %}"
  >
    <button
      on:click="#search-modal/showDialog"
      class="button-unstyled header-actions__action{% if display_style == 'text' %} header-actions__text-style{% endif %}"
      aria-label="{{ 'content.search_input_label' | t }}"
      aria-haspopup="dialog"
    >
      {% comment %} <span class="{% if display_style == 'icon' %}hidden{% else %}mobile:hidden{% endif %}">
        {{ 'content.search' | t }}
      </span> {% endcomment %}

      <span class="svg-wrapper">
        {% comment %} {{ 'icon-search.svg' | inline_asset_content }} {% endcomment %}
         <svg aria-hidden="true" fill="none" focusable="false" width="24" class="header__nav-icon icon icon-search" viewBox="0 0 24 24">
      <path d="M10.364 3a7.364 7.364 0 1 0 0 14.727 7.364 7.364 0 0 0 0-14.727Z" stroke="currentColor" stroke-width="1.4" stroke-miterlimit="10"></path>
      <path d="M15.857 15.858 21 21.001" stroke="currentColor" stroke-width="1.4" stroke-miterlimit="10" stroke-linecap="round"></path>
    </svg>
      </span>
    </button>
  </search-button>
{% endunless %}

{% stylesheet %}
  .search-action {
    --search-border-radius: var(--style-border-radius-inputs);
    --search-border-width: var(--style-border-width-inputs);

    display: flex;
  }

  @media screen and (max-width: 749px) {
    .search-action--hidden-on-drawer {
      display: none;
    }
  }

  @media screen and (min-width: 750px) {
    [data-menu-style='drawer'] .search-action--hidden-on-drawer {
      display: none;
    }

    [data-menu-style='menu'] .search-action--hidden-on-menu {
      display: none;
    }
  }

  [data-menu-style='menu'] .header__column--left .search-action {
    @media screen and (min-width: 750px) {
      margin-inline: calc(var(--padding-lg) * -1);
    }
  }

  .header__column--right .search-action {
    @media screen and (min-width: 750px) {
      margin-inline: calc(var(--gap-md) * -1) calc(var(--gap-xs) * -1);
    }
  }

  @media screen and (min-width: 750px) {
    .header__column--right .search-action--text {
      margin-inline: 0;
    }

    [data-menu-style='menu'] .header__column--left .search-action--text {
      margin-inline: 0;
    }
  }
{% endstylesheet %}
