<div class="marquee_main" id="marquee_main-{{ section.id }}">
  <div class="container">
    <div class="marquee_inner">
      {% for block in section.blocks %}
        {% if block.settings.text != blank %}
          <span class="marquee_col">{{ block.settings.text }}</span>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>